{% extends "bootstrap/base.html" %}
{% block title %} Anagram Finder {% endblock %}
{% block content %}

<div class="container"> 
<h1> Anagram Web Service </h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul> 
    {% for message in messages %}
         <li> 
             {{ message[1] }}
         </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="" method="POST">
    <div class="form-group">
        {{ form.name.label }} {{ form.name(class="form-control", placeholder="Word in lowercase") }}
    </div>
    <div class="input submit">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
    <h2>Anagrams:</h2>
        <ul>
            {% for item in data %}
                <p> {{ item }} </p>
            {% endfor %}
        </ul>
</form>
</div>
{% endblock %}
